params.output_dir = "output"

manifest {
    author = 'Stephen Kelly'
    homePage = 'https://github.com/stevekm/NYU-phoenix-docker-singularity-nextflow-demo'
    description = 'Docker & Singularity demo Nextflow pipeline for NYU phoenix HPC'
    mainScript = 'main.nf'
}

report {
    enabled = true
    file = "nextflow-report.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline-report.html"
}

// set up a temporary home directory for Singularity
import java.nio.file.Files;
import java.nio.file.Path;
Path tmp_home = Files.createTempDirectory(null);
params.tmp_home = tmp_home

profiles {

    local {
        process.executor = 'local'
        docker.enabled = true
        process.container = 'stevekm/phoenix-demo:demo1'
    }

    phoenix {
        process.executor = 'sge'
        process.queue = 'all.q'
        process.container = 'containers/demo1/stevekm_phoenix-demo_demo1-2018-03-15-c8dc739a651a.img'
        // process.container = 'shub://stevekm/phoenix-demo:demo1'
        // process.container = 'docker://stevekm/phoenix-demo:demo1'
        singularity.enabled = true
        singularity.runOptions = "--bind /ifs:/ifs --home ${params.tmp_home}"
        singularity.cacheDir = '/tmp'
    }
}
